/* Footer.css */
.footer {
    background-color: #332e2e;
    padding: 20px 0;
    color: white;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-section {
    margin-right: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 8px;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
    color: #888;
  }
  